._customer-geography {
  margin-top: 100px;

  ._customer-geography__title {
    position: relative;

    padding-left: 30px;
    flex-basis: 100%;

    color: #333333;
    font-size: 26px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      top: calc((100% - 13px) / 2);
      left: 4px;

      display: block;
      width: 13px;
      height: 13px;

      border-radius: 50%;
      background-color: #f98900;
    }
  }

  ._customer-geography__text {
    margin-top: 40px;

    color: #303030;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
  }

  ._customer-geography__img-wrapper {
    width: 670px;
    height: 538px;
    margin-top: 30px;
    margin-left: 80px;

    overflow: hidden;

    img {
      object-fit: contain;
    }
  }
}
