._customer-about {
  margin-top: 30px;

  ._customer-container {
    padding: 30px 50px 30px 110px;
    border-radius: 10px;
    background-color: #f2f2f2;

    @include m-1200 {
      padding: 30px 30px 30px 110px;
      margin: 0 30px;
    }

    @include m-768 {
      padding: 20px 20px 30px 70px;
      margin: 0 15px;
    }
  }

  ._customer-about__text {
    position: relative;

    color: #303030;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;

    span {
      font-weight: 500;
    }

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -78px;

      width: 59px;
      height: 52px;

      background-image: url("../img/logo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include m-768 {
        left: -65px;
      }
    }
  }
}
