._customer-reviews {
  margin-top: 120px;

  @include m-900 {
    margin-top: 70px;
  }

  @include m-768 {
    margin-top: 50px;
  }

  ._customer-container {
    position: relative;
  }

  ._customer-reviews__title {
    position: relative;

    padding-left: 30px;
    flex-basis: 100%;
    flex-basis: 100%;

    color: #333333;
    font-size: 26px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 4px;

      display: block;
      width: 13px;
      height: 13px;

      border-radius: 50%;
      background-color: #f98900;
    }
  }

  ._customer-reviews__swiper-container {
    position: relative;

    width: calc(100% - 80px);
    margin-top: 50px;
    margin-left: 40px;

    overflow: hidden;

    @include m-1200 {
      width: calc(100% - 60px);
      margin-left: 30px;
    }

    @include m-900 {
      width: calc(100% - 30px);
      margin-left: 15px;
    }

    ._customer-reviews__swiper-slide {
      z-index: 10;

      padding: 30px 30px 70px 30px;
      margin: 0;
      height: 440px;

      border-radius: 6px;
      background-color: #f2f2f2;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;

      overflow: hidden;
    }

    ._customer-reviews__swiper-slide--one {
      background-image: url("../img/reviews-bg1.png");
    }

    ._customer-reviews__swiper-slide--two {
      background-image: url("../img/reviews-bg2.png");
    }

    ._customer-reviews__swiper-slide--three {
      background-image: url("../img/reviews-bg3.png");
    }

    ._customer-reviews__img-wrapper {
      width: 110px;
      height: 110px;

      overflow: hidden;

      border-radius: 50%;

      img {
        object-fit: cover;
      }
    }

    ._customer-reviews__name {
      margin-top: 25px;

      color: #151611;
      font-size: 20px;
      font-weight: 400;
    }

    ._customer-reviews__text {
      margin-top: 20px;
      max-height: 180px;

      color: #151611;
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;

      overflow: hidden;
    }
  }

  ._customer-reviews__swiper-button-next {
    position: absolute;
    bottom: calc((440px - 21px) / 2);
    right: 10px;
    z-index: 10;

    width: 12px;
    height: 21px;
    margin: 0;

    background-image: url("../img/reviews-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;

    @include m-900 {
      right: 7px;
    }
  }

  ._customer-reviews__swiper-button-prev {
    position: absolute;
    bottom: calc((440px - 21px) / 2);
    left: 10px;
    z-index: 10;

    width: 12px;
    height: 21px;
    margin: 0;

    background-image: url("../img/reviews-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: rotate(180deg);
    cursor: pointer;

    @include m-900 {
      left: 7px;
    }
  }
}
