* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", "Arial", sans-serif;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

._customer-container {
  margin: 0 auto;
  width: 1146px;

  @include m-1200 {
    width: auto;
    margin: 0;
    padding: 0 30px;
  }

  @include m-768 {
    padding: 0 15px;
  }
}

button {
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  font: inherit;
}

._customer-visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=checked].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button:hover,
button:active,
button:focus {
  outline: none;
}
