._customer-customers {
  margin-top: 100px;

  @include m-900 {
    margin-top: 70px;
  }

  @include m-768 {
    margin-top: 50px;
  }

  ._customer-customers__title {
    position: relative;

    padding-left: 30px;
    flex-basis: 100%;
    flex-basis: 100%;

    color: #333333;
    font-size: 26px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 4px;

      display: block;
      width: 13px;
      height: 13px;

      border-radius: 50%;
      background-color: #f98900;
    }
  }

  ._customer-customers__swiper-container {
    position: relative;

    width: 100%;
    margin-top: 60px;

    overflow: hidden;

    ._customer-customers__img-wrapper {
      width: 191px;
      height: 121px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      img {
        height: 100%;

        object-fit: contain;
      }
    }

    ._customer-customers__swiper-button-next {
      position: absolute;
      top: calc((100% - 21px) / 2);
      right: 10px;
      z-index: 10;

      width: 12px;
      height: 21px;
      margin: 0;

      background-image: url("../img/reviews-arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      cursor: pointer;

      @include m-900 {
        right: 7px;
      }
    }

    ._customer-customers__swiper-button-prev {
      position: absolute;
      top: calc((100% - 21px) / 2);
      left: 10px;
      z-index: 10;

      width: 12px;
      height: 21px;
      margin: 0;

      background-image: url("../img/reviews-arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      transform: rotate(180deg);
      cursor: pointer;

      @include m-900 {
        left: 7px;
      }
    }
  }
}
